<div ng-controller="ProdutosListCtrl" id="ProdutosListCtrl">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Pesquisar" ng-model="busca">
            </div>
        </div>
    </div>
    <div class="row" ng-repeat="produto in resProdutos = (produtos | filter: busca) | startFrom: (currentPage - 1) * limitItems | limitTo: limitItems">
    	<div class="col-md-2">
    		<img ng-src="{{produto.imagem_url}}" class="produto-listagem-imagem" />
    	</div>
    	<div class="col-md-9">
    		<div class="row">
    			<div class="col-md-12">
	    			<h4>{{produto.nome}}</h4>
				</div>
			</div>
    		<div class="row">
    			<div class="col-md-12">
	    			<h5>R$ {{produto.preco}}</h5>
				</div>
			</div>
    		<div class="row">
    			<div class="col-md-12">
                    <p corta-str text="produto.descricao"></p>
                    <a href="#/view/{{produto.id}}"><i class="fa fa-plus-circle"></i> Mais detalhes</a>
				</div>
			</div>
    	</div>
    </div>
    <pagination boundary-links="true" total-items="resProdutos.length" page="currentPage" class="pagination-sm text-center" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" items-per-page="limitItems"></pagination>
</div>