<div ng-controller="UsuarioAddCtrl" id="UsuarioAddCtrl">
    <form name="usuarioAdd" ng-submit="enviarUsuario()" novalidate>
        <div class="form-group">
            <label for="nomeInput">Nome</label>
            <input type="text" class="form-control" id="nomeInput" name="nomeInput" ng-model="usuario.nome" required>
        </div>
        <div class="form-group">
            <label for="emailInput">Email</label>
            <input type="email" class="form-control" id="emailInput" name="emailInput" ng-model="usuario.email" required>
        </div>
        <div class="form-group">
            <label for="senhaInput">Senha</label>
            <input type="password" class="form-control" id="senhaInput" name="senhaInput" ng-model="usuario.senha" required ng-minlength="6" ng-maxlength="15">
        </div>
        <button ng-disabled="usuarioAdd.$invalid" class="btn btn-success">Enviar</button>
        <button type="reset" class="btn btn-warning">Limpar</button>
    </form>
</div>