<html>
	<head>
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" />
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css" type="text/css" />
		<script src='https://cdn.firebase.com/v0/firebase.js'></script>
		<script src='bower_components/angular-latest/build/angular.js'></script>
		<script src='bower_components/angularfire/angularfire.min.js'></script>
		<script src='webroot/js/app.js'></script>
	</head>
	<body ng-app="jshop">
		<!-- <div ng-controller="Chat">
		  	<form class="form-inline">
		    	Your name: <input type="text" ng-model="username">
		  	</form>
		  	<div ng-cloak ng-repeat="message in messages">
		    	<em>{{message.from}}: </em>{{message.content}}
		  	</div><br/>
		  	<form class="form-inline" ng-submit="addMessage()">
		    	<input type="text" ng-model="message" placeholder="Message...">
		    	<button class="btn" type="submit"><i class="icon-reply"> Send</i></button>
		  	</form>
		</div> -->
		<div ng-controller="Login">
			{{habilidades}}
			<div ng-repeat="habilidade in habilidades">
				{{habilidade}}
			</div>
		</div>
	</body>
</html>