/* app css stylesheet */
#body-tag {
	width: 1000px;
	padding: 0px;
	margin: auto;
}
.conteudo {
	width: 100%;
}
.produto-listagem-imagem {
	max-height: 150px;
	max-width: 150px;
}
.preco-compra {
	height: 65px;
}
.preco-compra label, .preco-compra button {
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.preco-compra label {
	font-size: 22px;
}